@import "tailwindcss";

@theme {
  --color-primary: #3187d1;
  --color-secondary: #8a31b3;
  --color-accent: #e77a20;
  
  --color-gray-light: #F8FAFC;
  --color-gray-mid: #94A3B8;
  --color-gray-dark: #0F172A;
}

button {
    @apply hover:brightness-120 active:brightness-90 text-white font-bold py-3.5 px-6 rounded-sm transition-all 
            duration-200 focus:ring-4 focus:ring-accent/40 focus:outline-none
            flex-1 flex items-center justify-center gap-2
            cursor-pointer
}